<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">UMap</h3>
          <!-- <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav> -->
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Let's map all cities.</h1>
        <p class="lead">Join UMap to help gather data about the unmapped cities of the world. Just because a city is small or poor does not mean it should remain unmapped. Let's change this!</p>
        <p class="lead" style="margin-top: 50px;">
          <a href="/users/sign_in" class="btn btn-lg btn-info btn-sm" style="margin-right: 30px;">Log In</a>
          <!-- <a href="/users/sign_up" class="btn btn-lg btn-success btn-sm">Start Mapping</a> -->
        </p>
      </div>

    </div>

  </div>

</div>